---
layout: layout.liquid
title: Fetch External Data
---

<h1><strong>Fetch External Data</strong></h1>

<div class="flex justify-center items-center mb-8">
  <div x-data="{thumbImage: $fetchjson('https://dummyjson.com/products/2', jsonItem='thumbnail')}">
    <img alt="thumbnail" x-bind:src="thumbImage" class="rounded-md shadow-md" />
  </div>

  <div x-data="{thumbImage: $fetchjson('https://dummyjson.com/products/4', jsonItem='thumbnail')}">
    <img alt="thumbnail" x-bind:src="thumbImage" class="rounded-md shadow-md ml-4" />
  </div>
</div>